@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Inter:wght@400;600&family=Jacques+Francois&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --roxo-principal: #514675;
  --lilas-secundario: #9F87AE;
  --branco-texto: #fff;
  --fonte-bannerPrincipal: 'Jacques Francois', sans-serif;
  --fonte-secundaria: 'inter', sans-serif;
  --preto-texto: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #e2d3f0;
}


.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--roxo-principal);
  color: var(--branco-texto);
  padding: 10px 0px 0px 10px;
}

.top-bar img {
  width: 10%;
  height: 10%;
}

.logo-branca img {
  width: 20%;
  height: 15%;
  padding: 0px 0px 0px 10px;
}

.menu{
  display: flex;
  align-items: center;
  gap: 0 20px 0 0;
}

.menu div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.menu a {
  color: var(--branco-texto);
  font-weight: bold;
  text-align: center;
  text-decoration: none;;
}

.banner {
  background-color: var(--preto-texto);
  color: var(--branco-texto);
  text-align: left;
  position: relative;
}

.banner img {
  width: 100%;
  opacity: 0.6;
}

.banner-text {
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 80px;
  font-family: var(--fonte-bannerPrincipal);
}

.denunciar-button {
  width: 10%;
  height: 5%;
  border-radius: 10px;
  font-size: 20px;
  position: absolute;
  top: 70%;
  left: 84%;
  background-color: var(--roxo-principal);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--lilas-secundario);
  padding: 50px 20px;
}

.section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Concert One";
  font-size: 34px;
}

.section h2 img {
  width: 10%;
  padding: 10px;
}

.section p {
  color: var(--preto-texto);
  font-family: 'inter';
  font-weight: bold;
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align:center;
}

.footer {
  display: flex;
  justify-content:center;
  background-color: var(--roxo-principal);
  color: var(--preto-texto);
  text-align: center;
  font-family: 'inter';
  font-weight: bold;
  padding: 15px;
}

.footer img {
  width: 7%;
  align-items: center;
}

.footer a {
  color: var(--preto-texto);
  text-decoration: none;
  font-family: 'inter';
  font-weight: bold;
  margin: 0 10px;
}

.social {
  display: flex;
  justify-content:center;
  align-items: center;
  gap:5px;
}


.menu a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--branco-texto);
  font-weight: bold;
}

.alerta {
  position: relative;
  width: 100%;
  height: 100%;
}

.alerta img {
  width: 100%;
  height: auto;
  display: block;
}

.texto-topo {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;               
  left: 50%;              
  transform: translate(-50%, -50%); 
  color: white;           
  background-color: rgba(0, 0, 0, 0.5); 
  margin: 0 ;
  font-size: 36px;
  font-family: var(--fonte-secundaria);
  font-weight: bolder;
  text-align: center;
  line-height: 2.0;
  padding: 50px;
}

.denuncia {
  position: relative;
  width: 100%;
  height: 100%;
}

.texto-final h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--fonte-secundaria);
  font-weight: bolder;
  font-size: 48px;
  padding: 5% 0 0 0;
}

.denuncia p{
  margin: 0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: var(--fonte-secundaria);
  font-weight: bolder;
  text-align: center;
  line-height: 3.0;
  padding: 50px;
}

.texto-final {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;               
  left: 50%;              
  transform: translate(-50%, -50%); 
  color: white;           
  background-color: rgba(0, 0, 0, 0.5); 
  font-size: 18px;
}




.denuncia-texto img {
  width: 100%;
  display: flex;
  flex-direction: column;
}


/* doaçoes */
.doe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d7c1ec;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Inter';
  gap: 20px;
}

.doe-info img {
  width: 30px;
  margin-right: 10px;
}

.doe-info div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.doe-info p {
  font-weight: bold;
  font-size: 18px;
}

.branca-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #d7c1ec;
  padding: 40px 20px;
}

.branca-img {
  width: 300px;
  height: 300px;
  background-color: #ccc;
  border-radius: 10px;
}

.branca-text {
  max-width: 600px;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 18px;
  color: #000;
  background-color: #e6d3f1;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
}
/* doacoes */
